.row {
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.row2{
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
button{
    padding: 10px;
    margin: 10px 0;
}
.team{
    font-size: 30px;
    font-weight: bold;
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.score{
    font-size: 60px;
     flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}






body {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    background: black;
    color: white;
    display: flex;
}
